@import "tailwindcss";

@layer base {
    html {
        scroll-behavior: smooth;
    }
}

@layer utilities {
    .gradient-text {
        background: linear-gradient(90deg, #9a3412, #ea580c, #f97316);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@layer components {
    .btn-primary {
        @apply px-4 py-2 border border-orange-800 rounded-lg
        w-full m-3 hover:bg-orange-500/30 hover:scale-95 ease-out duration-500
        transition-all mx-auto mt-7 md:mt-14 cursor-pointer
    }

    .btn-secondary {
        @apply border border-orange-600 hover:bg-orange-100
        hover:scale-95 ease-out duration-500 transition-all
        px-4 py-1 rounded-lg mx-5 my-7 cursor-pointer
    }
}